.app-body{
  background-color: #212529;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.homepage-container{
  background-color: aliceblue;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
}
