.navbar {
  margin-bottom: 20px;
}

.main{
  background-color: rgb(0, 0, 0, 0.7);
  padding-top: 10px;
  padding-bottom: 2%;
  border-radius: 20px;
}

.card {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
  background-color: #16191b!important;
}

.card:hover {
  transform: scale(1.07);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.card img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.card-body {
  cursor: pointer;
}
